<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Indikator <%=idAspek%></title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet" type="text/css" crossorigin>

  <style>
      body {
            background-color: rgb(255, 255, 255)
        }
  </style>

</head>


<body>      
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active"><a aria-current="/<%=idAspek%>">Aspek <%=idAspek%></a></li>
        </ol>
      </nav>

        <div class="container mt-5">
            <h2>Tabel Indikator</h2>  <a class="btn btn-success" href="/<%=idAspek%>/addIndikator" role="button" style="float: right;">+</a>
            <p>Aspek: <%=idAspek%></p>
            <p>Bobot: </p>
            <p>Nilai: </p>
            <p>Catatan: </p>            
            <table class="table table-condensed">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Indikator</th>
                    <th>Jumlah Parameter</th>                    
                    <th>Bobot</th>
                    <th>Nilai</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach(function(row, i) { %> 
                <tr>
                    <td><%=i+1%></td>
                    <td><%=row.indikator%></td>
                    <td><%=row.jumlahParameter%></td>
                    <td><%=row.bobot%></td>
                    <td><%=row.nilai%></td>
                    <td>
                        <a class="btn btn-primary" href="/<%=idAspek%>/<%=row.index%>/" role="button">Detail</a>
                    </td>
                </tr>
                <% }); %> 
            </tbody>
            </table>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
        <!-- <script>
            $(document).ready(function() {
      
            }
        </script> -->
      
      </body>
</html>    