<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GCG - All Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="  https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="/assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="/assets/css/typography.css">
    <link rel="stylesheet" href="/assets/css/default-css.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <style>
            .dataTables_filter {
                float: right;
            }

        /* The radio */
            .radio {
            
            display: block;
            position: relative;
            padding-left: 30px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 20px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none
            }

            /* Hide the browser's default radio button */
            .radio input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            }

            /* Create a custom radio button */
            .checkround {

            position: absolute;
            top: 6px;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #fff ;
            border-color:#f8204f;
            border-style:solid;
            border-width:2px;
            border-radius: 50%;
            }


            /* When the radio button is checked, add a blue background */
            .radio input:checked ~ .checkround {
            background-color: #fff;
            }

            /* Create the indicator (the dot/circle - hidden when not checked) */
            .checkround:after {
            content: "";
            position: absolute;
            display: none;
            }

            /* Show the indicator (dot/circle) when checked */
            .radio input:checked ~ .checkround:after {
            display: block;
            }

            /* Style the indicator (dot/circle) */
            .radio .checkround:after {
            left: 2px;
            top: 2px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background:#f8204f;


            }

            /* The check */
            .check {
            display: block;
            position: relative;
            padding-left: 25px;
            margin-bottom: 12px;
            padding-right: 15px;
            cursor: pointer;
            font-size: 18px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            }

            /* Hide the browser's default checkbox */
            .check input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            }

            /* Create a custom checkbox */
            .checkmark {
            position: absolute;
            top: 3px;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: #fff ;
            border-color:#f8204f;
            border-style:solid;
            border-width:2px;
            }



            /* When the checkbox is checked, add a blue background */
            .check input:checked ~ .checkmark {
            background-color: #fff  ;
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
            content: "";
            position: absolute;
            display: none;
            }

            /* Show the checkmark when checked */
            .check input:checked ~ .checkmark:after {
            display: block;
            }

            /* Style the checkmark/indicator */
            .check .checkmark:after {
            left: 5px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid ;
            border-color:#f8204f;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            }

            .cust-btn{
            margin-bottom: 10px;
            background-color: #f8204f;
            border-width: 2px;
            border-color: #f8204f;
            color: #fff;
            }
            .cust-btn:hover{

            border-color: #f8204f;
            background-color: #fff;
            color: #f8204f;
            border-radius: 20px;
            transform-style: 2s;

            }

            .home-cell.table-responsive {
                width: 150px;
                overflow: auto !important;
                display: inline-block;
            }
            table .table-bordered {
                width: 190px;
                min-width: 270px;
            }

            .indikator-div {
                margin-left: 5px;
            }

            .panel-group {
                cursor: pointer;
            }

            tr.faktor.unvalid
            {
                background-color:#000000;
            }
    </style>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="/"><img src="/img/LOGO-TWCT.png" alt="logo"><h5 style="color: white;">GCG TWC</h5></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><p class="glyphicon glyphicon-pencil" style="color:white;"></p><span>Input/Edit GCG</span></a>
                                <ul class="collapse">
                                    <li><a href="/GCGdata/">Data GCG</a></li>
                                    <li><a href="/GCGdata/1/">Aspek 1</a></li>
                                    <li><a href="/GCGdata/2/">Aspek 2</a></li>
                                    <li><a href="/GCGdata/3/">Aspek 3</a></li>
                                    <li><a href="/GCGdata/4/">Aspek 4</a></li>
                                    <li><a href="/GCGdata/5/">Aspek 5</a></li>
                                    <li><a href="/GCGdata/6/">Aspek 6</a></li>   
                                    <li><a href="/GCGdata/7/">Aspek 7</a></li>                                                                                                                                             
                                </ul>
                            </li>
                            <li class="active">
                                <a href="/all/" aria-expanded="true"><p class="glyphicon glyphicon-list-alt" style="color:white;"></p><span>GCG Summary</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><p class="glyphicon glyphicon-user" style="color:white;"></p><span>User Management</span></a>
                                <ul class="collapse">
                                    <li><a href="/UserManagement/">Daftar User</a></li>
                                    <li><a href="/UserManagement/TambahUser/">Tambah User</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <!-- <div class="search-box pull-left">
                            <form action="#">
                                <input type="text" name="search" placeholder="Search..." required>
                                <i class="ti-search"></i>
                            </form>
                        </div> -->
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="settings-btn">
                                <i class="ti-settings"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="/">Home</a></li>
                                <li><span>All GCG</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown"><%=user.username%><i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/logout">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content-inner">

                <div class="row">

                    <div class="col-12 mt-5">

                        <div class="card">
                            
                            <div class="card-body">
                                <!-- <button id="refreshBtn" class="btn-success">Reload</button>

                                <h2 class="justify-content-center">GCG TWC 2020</h2> -->
                                <!-- <a class="btn btn-success" href="/GCGData/addAspek" role="button" style="float: right;">+</a> -->
                                <div>
                                    <div class="">                                      
                                        <table class="table table-striped" id="tabel-header">
                                            <tbody>
                                                <tr class="accordion-toggle align-items-start">
                                                    <th class="col">Judul</th>
                                                    <th class="col">Bobot</th>
                                                    <th class="col">Nilai</th>
                                                    <th class="col">Individu</th>
                                                </tr>            
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>


                                <div id="accordion" class="accordion" aria-expanded='false'>
                                    <% result.forEach(function(row, i) { %>  
                                        <div>
                                            <div class="">                                      
                                                <table class="table table-striped" id="tabel-<%=i%>" style="background-color: #f9d5e5;">
                                                    <tbody>
                                                        <tr class="collapsed aspek-collapse" data-toggle="collapse" href="#demo-<%=i%>">
                                                            <td class="col"><a><%=row.aspek%></a></td>
                                                            <td class="col"><%=row.bobot%></td>
                                                            <td class="col"><%=row.nilai%></td>
                                                            <td class="col nilaiOverall"  value="<%=row.nilaiIndividu%>"><%=row.nilaiIndividu%></td>
                                                        </tr>            
                                                    </tbody>
                                                </table>
                                                
                                            </div>
                                        </div> 

                                        <div id="demo-<%=i%>" class="collapse indikator-div accordion" data-parent="#accordion">
                                            <% row.indikators.forEach(function(rowI, j) { %>
                                            <div class="">
                                                <table class="table table-condensed table-striped" id="tabel-<%=i%>-<%=j%>"  style="background-color: #b7d7e8;"">
                                                    <tbody>
                                                        <tr class="indikator-collapse collapsed" data-toggle="collapse" href="#demo-<%=i%>-<%=j%>">
                                                            <td class="col"><a><%=rowI.indikator%></a></td>                                                      
                                                            <td class="col"><%=rowI.bobot%></td>
                                                            <td class="col"><%=rowI.nilai%></td>
                                                            <td class="col nilaiOverall"><%=rowI.nilaiIndividu%></td>
                                                        </tr>            
                                                    </tbody>
                                                </table> 

                                                <div id="demo-<%=i%>-<%=j%>" class="collapse indikator-div accordion" data-parent="#demo-<%=i%>">
                                                    <% rowI.parameters.forEach(function(rowP, k) { %>
                                                        <div class="">
                                                        <table class="table table-condensed table-striped" id="tabel-<%=i%>-<%=j%>-<%=k%>"  style="background-color: #fbefcc;">
                                                            <tbody>
                                                                <tr  class="parameter-collapse collapsed" data-toggle="collapse" href="#demo-<%=i%>-<%=j%>-<%=k%>">
                                                                    <td class="col"><%=rowP.pertanyaan%></td>                                                                  
                                                                    <td class="col"><%=rowP.bobot%></td>
                                                                    <td class="col"><%=rowP.nilai%></td>
                                                                    <td class="col nilaiOverall" value="<%=rowP.nilaiIndividu%>"><%=rowP.nilaiIndividu%></td>
                                                                </tr>            
                                                            </tbody>
                                                        </table> 

                                                        <div id="demo-<%=i%>-<%=j%>-<%=k%>" class="collapse indikator-div accordion" data-parent="#demo-<%=i%>-<%=j%>">
                                                            <% rowP.subparameters.forEach(function(rowSP, l) { %>
                                                                <div class="">
                                                                    <table class="table table-condensed table-striped" id="tabel-<%=i%>-<%=j%>-<%=k%>-<%=l%>"  style="background-color: #ffffff;">
                                                                        <tbody>
                                                                            <tr class="subParameter-collapse collapsed" data-toggle="collapse" href="#demo-<%=i%>-<%=j%>-<%=k%>-<%=l%>">
                                                                                <td class="col"> <a><%=rowSP.subParameter%></a></td>                                                                   
                                                                                <td class="col"></td>
                                                                                <td class="col" value="<%=rowSP.nilaiPersen%>"><%=rowSP.nilaiPersen%>%</td>
                                                                            </tr>            
                                                                        </tbody>
                                                                    </table> 

                                                                    <div id="demo-<%=i%>-<%=j%>-<%=k%>-<%=l%>" class="collapse indikator-div accordion" data-parent="#demo-<%=i%>-<%=j%>-<%=k%>">
                                                                            <div class="">
                                                                                <table class="table table-condensed table-striped" id="tabel-<%=i%>-<%=j%>-<%=k%>-<%=l%>"  style="background-color: #ffffff;">
                                                                                    <thead>
                                                                                        <tr class="accordion-toggle align-items-start">
                                                                                            <th class="col">Faktor</th>
                                                                                            <th>
                
                                                                                            </th>    
                                                                                            <th>
                                                                                                
                                                                                            </th>                                                                        
                                                                                            <th class="col">Bukti</th>
                                                                                            <th class="col">Nilai</th>
                                                                                        </tr>            
                                                                                    </thead>
                                                                                    <% rowSP.faktors.forEach(function(rowSF, m) { %>
                                                                                    <tbody>
                                                                                        <tr class="faktor">
                                                                                            <td class="col-5"><%=rowSF.faktor%></td>
                                                                                            <td>
                                                                                                <button type="button" class="btn btn-light justify-content-center" data-toggle="modal" data-target="#modalForm-<%=i%>-<%=j%>-<%=k%>-<%=l%>-<%=m%>">
                                                                                                    <i class="glyphicon glyphicon-pencil">

                                                                                                    </i>
                                                                                                </button>
                                                                                                <div class="modal fade" id="modalForm-<%=i%>-<%=j%>-<%=k%>-<%=l%>-<%=m%>" tabindex="-1" role="dialog" aria-labelledby="modalCatatan<%=i+1%>Label" aria-hidden="true">
                                                                                                    <div class="modal-dialog" role="document">
                                                                                                      <div class="modal-content">
                                                                                                        <div class="modal-header">
                                                                                                          <h5 class="modal-title" id="modalForm-<%=i%>-<%=j%>-<%=k%>-<%=l%>-<%=m%>-Label">Beri Penilaian</h5>
                                                                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                                            <span aria-hidden="true">&times;</span>
                                                                                                          </button>
                                                                                                        </div>
                                                                                                        <div class="modal-body">
																											<div class="question bg-white p-3 border-bottom">
																												<div class="d-flex flex-row align-items-center question-title">
																													<!-- <h3 class="text-danger">Q.</h3> -->
																													<h3 class="mt-1 ml-2"><%=rowSF.faktor%></h3>
																												</div> 
																												<form class="question bg-white p-3 border-bottom formSubFaktor" action="/GCGData/postPenilaian" method="POST" id="postForm-<%=i%>-<%=j%>-<%=k%>-<%=l%>-<%=m%>">
																													<input type="text" id="inputID" name="inputID" value="<%=rowSF.Index%>" hidden readonly>
																														<input type="text" class="form-control" id="inputAspek" name="inputAspek" value="<%=rowSF.aspek%>" hidden>
																														<input type="text" class="form-control" id="inputIndikator" name="inputIndikator" value="<%=rowSF.indikator%>" hidden>
																														<input type="text" class="form-control" id="idParameter" name="idParameter" value="<%=rowSF.IDParameter%>" hidden>
																														<input type="text" class="form-control" id="idSubParameter" name="idSubParameter" value="<%=rowSF.IndexSubParameter%>" hidden>
																														<input type="text" class="form-control" id="iBuktiPemenuhan" name="iBuktiPemenuhan" value="<%-rowSF.buktiPemenuhan%>" hidden readonly>
																														<input type="text" class="form-control" id="iIsiNilai" name="iIsiNilai" value="<%=rowSF.skor%>" hidden readonly>
																														<input type="text" class="form-control" id="iIsiValid" name="iIsiValid" value="<%=rowSF.valid%>" hidden readonly>
																													<h2>Bukti Pemenuhan</h2>
																														<label class="check">Dokumen
																															<input type="checkbox" name="inputPemenuhan[]" id="inputPemenuhanD" value="D">
																															<span class="checkmark"></span>
																														</label>
																														<label class="check">Kusioner
																														  <input type="checkbox" name="inputPemenuhan[]" id="inputPemenuhanK" value="K">
																														  <span class="checkmark"></span>
																														</label>                                                
																														<label class="check">Wawancara
																															<input type="checkbox" name="inputPemenuhan[]" id="inputPemenuhanW" value="W">
																															<span class="checkmark"></span>
																														</label>
																														<label class="check">Observasi
																															<input type="checkbox" name="inputPemenuhan[]" id="inputPemenuhanO" value="O">
																															<span class="checkmark"></span>
																														</label>
																													  <h2>Nilai Faktor</h2>
																													  <label class="radio">0
																														  <input type="radio" name="inputNilai" id="inputNilaiA" value="0">
																														  <span class="checkround"></span>
																														</label>
																														<label class="radio">0.25
																															<input type="radio" name="inputNilai" id="inputNilaiB" value="0.25">
																															<span class="checkround"></span>
																														  </label>                                                
																														  <label class="radio">0.5
																															<input type="radio" name="inputNilai" id="inputNilaiC" value="0.5">
																															<span class="checkround"></span>
																														  </label>
																														  <label class="radio">0.75
																															<input type="radio" name="inputNilai" id="inputNilaiD" value="0.75">
																															<span class="checkround"></span>
																														  </label>
																														  <label class="radio">1
																															<input type="radio" name="inputNilai" id="inputNilaiE" value="1">
																															<span class="checkround"></span>
																														  </label>   
																														  
																														  <h2>Apakah faktor valid?</h2>
																														  <label class="radio">Tidak
																															  <input type="radio" name="inputValid" id="inputValid-0" value="0">
																															  <span class="checkround"></span>
																															</label>
																															<label class="radio">Ya
																																<input type="radio" name="inputValid" id="inputValid-1" value="1">
																																<span class="checkround"></span>
																															</label>                                                
																						
																														<div class="ans ml-2 form-group ">  
																															<div class="question bg-white p-3 border-bottom">
																																<h1>
																																	
																																</h1>
																															</div>
																															<h1>
																																<!-- <span style="white-space: "> -->
																														
																															</h1>
																															<% if(rowSF.catatan != null) { %>
																															<div>
																																<h3><%-rowSF.catatan.replace('\n', '<br>')%></h3>
																															</div>
																															<% } %>
																														</div> 
																						
																												</form>																																																	
																											</div>
                                                                                                        </div>
                                                                                                        <div class="modal-footer">
                                                                                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                                                          <button form="postForm-<%=i%>-<%=j%>-<%=k%>-<%=l%>-<%=m%>" type="submit" class="btn btn-primary">Submit</button>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                  </div>
                                                                                            </td>                                                                       
                                                                                            <td>
                                                                                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalCatatan-<%=i%>-<%=j%>-<%=k%>-<%=l%>-<%=m%>">
                                                                                                    <i class="glyphicon glyphicon-cloud-upload"></i>
                                                                                                </button>
                                                                                                <div class="modal fade" id="modalCatatan-<%=i%>-<%=j%>-<%=k%>-<%=l%>-<%=m%>" tabindex="-1" role="dialog" aria-labelledby="modalCatatan<%=i+1%>Label" aria-hidden="true">
                                                                                                    <div class="modal-dialog" role="document">
                                                                                                      <div class="modal-content">
                                                                                                        <div class="modal-header">
                                                                                                          <h5 class="modal-title" id="modalCatatan-<%=i%>-<%=j%>-<%=k%>-<%=l%>-<%=m%>-Label">Beri Catatan Bukti Faktor</h5>
                                                                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                                            <span aria-hidden="true">&times;</span>
                                                                                                          </button>
                                                                                                        </div>
                                                                                                        <div class="modal-body">
                                                                                                          <form action="/GCGData/PostCatatan" method="POST" name="formCatatan-<%=i%>-<%=j%>-<%=k%>-<%=l%>-<%=m%>" id="formCatatan-<%=i%>-<%=j%>-<%=k%>-<%=l%>-<%=m%>">
                                                                                                            <div class="form-group">
                                                                                                              <label for="message-text" class="col-form-label">Catatan Bukti:</label>
                                                                                                              <textarea class="form-control" id="catatan" name="catatan" rows="4" ><%=rowSF.catatanBukti%></textarea>
                                                                                                            </div>
                                                                                                            <div class="form-group">
                                                                                                                <input type="text" class="form-control" id="inputIndex" name="inputIndex" value="<%=rowSF.Index%>" hidden>
                                                                                                            </div>
                                                                                                            <div class="form-group">
                                                                                                                <input type="text" class="form-control" id="inputAspek" name="inputAspek" value="<%=rowSF.aspek%>" hidden>
                                                                                                            </div>
                                                                                                            <div class="form-group">
                                                                                                                <input type="text" class="form-control" id="inputIndikator" name="inputIndikator" value="<%=rowSF.indikator%>" hidden>
                                                                                                            </div>
                                                                                                            <div class="form-group">
                                                                                                                  <input type="text" class="form-control" id="idParameter" name="idParameter" value="<%=rowSF.IDParameter%>" hidden>
                                                                                                            </div>
                                                                                                            <div class="form-group">
                                                                                                                  <input type="text" class="form-control" id="idSubParameter" name="idSubParameter" value="<%=rowSF.IndexSubParameter%>" hidden>
                                                                                                            </div>
                                                                                                            <div class="form-group">
                                                                                                                <label for="message-text" class="col-form-label">Upload Bukti:</label>
                                                                                                                <input id="input-bukti-faktor" name="input-bukti-faktor" type="file" class="file-upload" data-browse-on-zone-click="true" data-height="500">
                                                                                                            </div>
                                                                                                          </form>
                                                                                                        </div>
                                                                                                        <div class="modal-footer">
                                                                                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                                                          <button form="formCatatan-<%=i%>-<%=j%>-<%=k%>-<%=l%>-<%=m%>" type="submit" class="btn btn-primary">Submit</button>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                  </div>
                                                                                            </td>                                                                           
                                                                                            <td><%=rowSF.buktiPemenuhan%></td>                                                                   
                                                                                            <td style="float: right;"><%=rowSF.skor%></td>
                                                                                            <td class="validationData" value="<%=rowSF.valid%>" hidden><%=rowSF.valid%></td>
                                                                                        </tr>            
                                                                                    </tbody>
                                                                                    <% }); %> 
                                                                                </table> 
                                                                            
                                                                        </div>
                                                                    </div>
                                                                
                                                            </div>
                                                            <% }); %> 

                                                        </div>

                                                    </div>
                                                    <% }); %> 
                                                </div>
                                            </div>
                                            <% }); %> 
                                        </div>
                                    
    

                                    <% }); %> 
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>


            <!-- header area start -->

        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- offset area start -->
    <!-- offset area end -->
    <!-- jquery latest version -->
    <script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/metisMenu.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.min.js"></script>
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <!-- start amcharts -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- all line chart activation -->
    <script src="/assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="/assets/js/pie-chart.js"></script>
    <!-- all bar chart -->
    <script src="/assets/js/bar-chart.js"></script>
    <!-- all map chart -->
    <script src="/assets/js/maps.js"></script>
    <!-- others plugins -->
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/scripts.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

    <script>
        // collapseItem = localStorage.getItem('collapseItem'); 
        $(document).ready(function() {
            // var MY_ARRAY= 'my_array';
            // var arr=[1,2,3,4,5];
            // localStorage.setItem(MY_ARRAY, JSON.stringify(arr));
            if (localStorage.getItem('collapsedItems') === null) {
                Collapses = [0]
                // console.log(Collapses)
            }
            else {
                Collapses = JSON.parse(localStorage.getItem('collapsedItems'));
                // console.log(Collapses)
            }

            for (i = 0; i < Collapses.length; ++i) {
                $(Collapses[i]).collapse('show')
            }
            // console.log(collapseItem)


            $('#tabel').DataTable({
                "lengthChange": false,
                "paginate": false,
                "info": false,
                "columnDefs": [
                    { "width": "40%", "targets": 1 }
                ]
            });

            $("td.nilaiOverall").each(function() {
                $(this).html() < 15 ? $(this).css('background-color', '#d64161') : null;

                ($(this).html() >= 15 && $(this).html() < 45) ? $(this).css('background-color', '#fee227'): null;

                ($(this).html() >= 45 && $(this).html() < 90) ? $(this).css('background-color', '#9ccc9c'): null;

                $(this).html() >= 90 ? $(this).css('background-color', '#0e6b0e') : null;

            });

            $('td.validationData').each(function(){
                console.log($(this).html())
                var tr=$(this).closest('tr');
                    
                    if ($(this).html()!=1) {  
                        
                        tr.css('background-color', '#BBBBBB')
                    }     
                });
                     

            $('.collapse').on('hidden.bs.collapse', function () {
                // read the data-default value
                var defaultDiv = $($(this).data("parent")).data("default");
                // show the default panel
                $('.collapse').eq(defaultDiv-1).collapse('show');
            })

            $('.formSubFaktor').each(function(){
                
                var FileTypes = $('#'+$(this).attr('id') +' '+'#iBuktiPemenuhan').val();
                var nilai = $('#'+$(this).attr('id') + ' ' +  '#iIsiNilai').val();
                var validasi = $('#'+$(this).attr('id') + ' ' +  '#iIsiValid').val()
                console.log(nilai)
                console.log(validasi)
                // var stringQuery = '#'+$(this).attr('id')
                // console.log($(this).html())
                    
                
                if(FileTypes.includes('O')==true){
                    $('#'+$(this).attr('id') + ' ' +  '#inputPemenuhanO').attr("checked", "checked");
                    // $("#postForm #inputPemenuhanO").attr("checked", "checked");
                }    
                if(FileTypes.includes('D')==true){
                    $('#'+$(this).attr('id') + ' ' +  '#inputPemenuhanW').attr("checked", "checked");
                    // $("#postForm #inputPemenuhanO").attr("checked", "checked");
                } 
                if(FileTypes.includes('K')==true){
                    $('#'+$(this).attr('id') + ' ' +  '#inputPemenuhanK').attr("checked", "checked");
                    // $("#postForm #inputPemenuhanO").attr("checked", "checked");
                } 
                if(FileTypes.includes('W')==true){
                    $('#'+$(this).attr('id') + ' ' +  '#inputPemenuhanW').attr("checked", "checked");
                    // $("#postForm #inputPemenuhanO").attr("checked", "checked");
                } 
                
                // $(this).children('input[name="inputNilai"]').val(nilai)
                // $('#'+$(this).attr('id') + ' ' +  '#inputNilai[value='+nilai+']').prop('checked', true);
                var string = '#'+$(this).attr('id') + ' ' +  '#inputValid-'+validasi
                var string2 = '#'+$(this).attr('id') + ' ' +  '#inputNilai-'+nilai
                console.log(string2)
                console.log(string)
                if(nilai == 0) {
                    $('#'+$(this).attr('id') + ' ' +  '#inputNilaiA').attr('checked', true);
                }
                else if(nilai == 0.25) {
                    $('#'+$(this).attr('id') + ' ' +  '#inputNilaiB').attr('checked', true);
                }
                else if(nilai == 0.5) {
                    $('#'+$(this).attr('id') + ' ' +  '#inputNilaiC').attr('checked', true);
                }
                else if(nilai == 0.75) {
                    $('#'+$(this).attr('id') + ' ' +  '#inputNilaiD').attr('checked', true);
                }
                else if(nilai == 1.0) {
                    $('#'+$(this).attr('id') + ' ' +  '#inputNilaiE').attr('checked', true);
                }
                // $('#'+$(this).attr('id') + ' ' +  '#inputNilai-'+nilai).attr('checked', true);
                $('#'+$(this).attr('id') + ' ' +  '#inputValid-'+validasi).attr('checked', true);
            });


            $('.aspek-collapse').on('click', function(event) {
                if(Collapses.includes($(this).attr('href'))){
                    Collapses = []
                    console.log(Collapses)
                }
                else {
                    Collapses = []
                    console.log($(this).attr('href'))
                    Collapses.push($(this).attr('href'));
                    console.log(Collapses)
                }
                localStorage.setItem('collapsedItems', JSON.stringify(Collapses));
            })

            $('.indikator-collapse').on('click', function(event) {
                if(Collapses.includes($(this).attr('href'))){
                    Collapses[1] = ''
                    console.log(Collapses)
                }
                else {
                    if(Collapses.length > 1){
                    Collapses.splice(1, 1, $(this).attr('href'));
                }
                else {
                    console.log($(this).attr('href'))
                    Collapses.push($(this).attr('href'));
                }
                }
                console.log(Collapses)
                localStorage.setItem('collapsedItems', JSON.stringify(Collapses));
            })

            $('.parameter-collapse').on('click', function(event) {
                if(Collapses.includes($(this).attr('href'))){
                    Collapses[2] = ''
                    console.log(Collapses)
                }
                else {
                    if(Collapses.length > 2){
                    Collapses.splice(2, 1, $(this).attr('href'));
                }
                else {
                    console.log($(this).attr('href'))
                    Collapses.push($(this).attr('href'));
                }
                }
                console.log(Collapses)
                localStorage.setItem('collapsedItems', JSON.stringify(Collapses));
            })  
            
            $('.subParameter-collapse').on('click', function(event) {
                if(Collapses.includes($(this).attr('href'))){
                    Collapses[3] = ''
                    console.log(Collapses)
                }
                else {
                    if(Collapses.length > 3){
                    Collapses.splice(3, 1, $(this).attr('href'));
                }
                else {
                    console.log($(this).attr('href'))
                    Collapses.push($(this).attr('href'));
                }
                }
                console.log(Collapses)
                localStorage.setItem('collapsedItems', JSON.stringify(Collapses));
            })            

            $('#refreshBtn').on('click', function(event) {
                localStorage.clear();
                location.reload();
            })

        });


    </script> 
</body>

</html>
<!-- © 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About -->
