<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Peniliaian Sub-Faktor</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet" type="text/css" crossorigin>

</head>

<body>

    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <div class="border">
                    <div class="question bg-white p-3 border-bottom">
                        <div class="d-flex flex-row justify-content-between align-items-center mcq">
                            <h4>Aspek <%=data.aspek%></h4> <span>Indikator <%=data.indikator%></span>
                        </div>
                    </div>  
                    <div class="question bg-white p-3 border-bottom">
                        <div class="d-flex flex-row align-items-center question-title">
                            <!-- <h3 class="text-danger">Q.</h3> -->
                            <h3 class="mt-1 ml-2"><%=data.faktor%></h3>
                        </div> 
                        <form class="question bg-white p-3 border-bottom" action="/postPenilaian" method="POST">
                            <input type="text" id="inputID" name="inputID" value="<%=data.faktor%>" hidden readonly>
                            <div class="ans ml-2">   
                                <input class="form-check-input" type="radio" value="D" id="inputPemenuhan" name="inputPemenuhan">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Dokumen
                                </label>
                            </div>
                            <div class="ans ml-2">   
                                <input class="form-check-input" type="radio" value="K" id="inputPemenuhan" name="inputPemenuhan">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Kuisioner
                                </label>
                            </div>
                            <div class="ans ml-2">   
                                <input class="form-check-input" type="radio" value="W" id="inputPemenuhan" name="inputPemenuhan">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Wawancara
                                </label>
                            </div>
                            <div class="ans ml-2">   
                                <input class="form-check-input" type="radio" value="O" id="inputPemenuhan" name="inputPemenuhan">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Observasi
                                </label>
                            </div>
                                <div class="ans ml-2 form-group ">  
                                    <div class="question bg-white p-3 border-bottom">
                                        <h1></h1>
                                    </div>
                                        <!-- <input type="text" class="form-control" id="inputNilai" name="inputNilai" placeholder="Nilai dari Sub-Parameter (0 - 1)"> -->
                                        <select class="form-select form-select-sm form-control" id="inputNilai" name="inputNilai">
                                            <option selected disabled>Nilai Faktor</option>
                                            <option value="0.0">0</option>
                                            <option value="0.25">0.25</option>
                                            <option value="0.5">0.5</option>
                                            <option value="0.75">0.75</option>
                                            <option value="1">1</option>
                                    </select>
                                    <div class="question bg-white p-3">
                                        <h1></h1>
                                    </div>
                                    <a class="btn btn-danger" href="/<%=data.aspek%>/<%=data.indikator%>/<%=data.IDParameter%>/<%=data.IndexSubParameter%>/" role="button" style="float: left;">Back</a> 
                                    <button type="submit" class="btn btn-success" style="float: right;">Submit</button>
                                    <div class="question bg-white p-3">
                                        <h1></h1>
                                    </div>
                                </div> 

                        </form>


                        <!-- <div class="form-group container-fluid" style="border-radius: 25px; border: 2px solid #cecece;">
                            <label for="exampleFormControlFile1">Bukti File</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                          </div> -->

                    </div>
                    <!-- <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                        <button class="btn btn-primary d-flex align-items-center btn-danger" type="button" href="/back"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button>
                        <button class="btn btn-primary border-success align-items-center btn-success" type="button" href="/next" name="nextBtn" id="nextBtn">Next<i class="fa fa-angle-right ml-2"></i></button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <script>
        $(document).ready(function() {
            $("#inputNilai").find('option[value="<%=data.skor%>"]').attr('selected','selected')
            $(function() {
                $('[name="inputPemenuhan"]').val(['<%=data.buktiPemenuhan%>'])
            });
        });
    </script>

</body>
</html>


   
  
   
