<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet" type="text/css" crossorigin>

</head>

<body>

    <!-- <% data.test.forEach(function(kn) { %>

    

    
        <h1><%=kn.question%></h1>

        <ul>
            <% kn.choices.forEach(function(item) { %>
                <label class="radio-inline">
                    <input type="radio" name="optradio" class="optradio" value="1"><%=item%>
                </label>
            <% }); %>
        </ul>

    <% }); %> -->

    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <div class="border">
                    <div class="question bg-white p-3 border-bottom">
                        <div class="d-flex flex-row justify-content-between align-items-center mcq">
                            <h4><%=headerData.headerAspek%></h4> <span><%=headerData.headerIndikator%></span>
                        </div>
                    </div>
                    <% data.test.forEach(function(kn, i) { %>    
                    <div class="question bg-white p-3 border-bottom">
                        <div class="d-flex flex-row align-items-center question-title">
                            <!-- <h3 class="text-danger">Q.</h3> -->
                            <h5 class="mt-1 ml-2"><%=kn.question%></h5>
                        </div>
                        <% kn.choices.forEach(function(item) { %>   
                        <div class="ans ml-2">   
                            <input class="form-check-input" type="radio" value="<%=item.val%>" id="flexCheckDefault" name="group-<%=i%>">
                            <label class="form-check-label" for="flexCheckDefault">
                                <%=item.ans%>
                            </label>
                        </div>
                        <% }); %>  

                        <!-- <div class="form-group container-fluid" style="border-radius: 25px; border: 2px solid #cecece;">
                            <label for="exampleFormControlFile1">Bukti File</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                          </div> -->

                    </div>
                    <% }); %> 
                    <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                        <button class="btn btn-primary d-flex align-items-center btn-danger" type="button" href="/back"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button>
                        <button class="btn btn-primary border-success align-items-center btn-success" type="button" href="/next" name="nextBtn" id="nextBtn">Next<i class="fa fa-angle-right ml-2"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function() {
        
      $('#nextBtn').on('click', function(){
        // event.preventDefault(); //Prevent asyn call
        $link = $(this); //Get href
        jawaban = {};
        jawaban.nilai = [];
            $(':radio:checked').each(function(i, val){
                jawaban.nilai.push($(this).val());
                // ans.push($(this).attr('name'));
                // alert($(this).val());                    // Get all radio button values
            });
            // alert(obj)
            // alert(jsonObj)            

                $.ajax({
                    url: '/submitJawaban',
                    ContentType: 'application/json',
                    data: jawaban,
                    dataType: "json",
                    type: 'POST',
                    success: function (data) {
                        // $('#submitForm').submit();
                        // alert(data);
                        // window.location.href = $link.attr('href');
                    },
                    error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    alert(msg);
                }
                });

            // $.post('/submitJawaban', { parsedData: obj});


        });
        // $('#submitBtn').on('click', function(){
        //     $.post("/submitJawaban/",
        //         {
        //             name: "Donald Duck",
        //             city: "Duckburg"
        //         },
        //         function(data, status){
        //             alert("Data: " + data + "\nStatus: " + status);
        //         });
        // });

    });



    // function mySubmitFunction(){
    //     event.preventDefault();
        

    //             obj = {};
    //     obj.jawaban = [];

    //     $(':radio:checked').each(function(){
    //             obj.jawaban.push($(this).val());
    //             // ans.push($(this).attr('name'));
    //             // alert($(this).val());                    // Get all radio button values
    //         });
            
    //         testData=[1,2,3,4,5,6,7]
    //         testJSON={"data" : [1,2,3,4,5,7]}
    //         jsonObj = JSON.stringify(obj)
    //         let payload = { name : "test", id: 12345};
    //         console.log(payload)
    //         // alert(obj)
    //         // alert(jsonObj)            

    //         // $.post( "/submitJawaban/", function( payload ) {
    //         //     alert( "Data Loaded: " + payload );
    //         // });

    //         // $.post("/submitJawaban",
    //         //     {
    //         //         name: "Donald Duck",
    //         //         city: "Duckburg"
    //         //     },
    //         //     function(data, status){
    //         //         alert("Status: " + status);
    //         //     });
            

    //         // return false;

    // }
  </script>

</body>
</html>


   
  
   
