<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>srtdash - Faktor <%=data.IDFaktor%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    <link href="  https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="/assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="/assets/css/typography.css">
    <link rel="stylesheet" href="/assets/css/default-css.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <style>
            .dataTables_filter {
                float: right;
            }

          /* The radio */
            .radio {
            
            display: block;
            position: relative;
            padding-left: 30px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 20px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none
            }

            /* Hide the browser's default radio button */
            .radio input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            }

            /* Create a custom radio button */
            .checkround {

            position: absolute;
            top: 6px;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #fff ;
            border-color:#f8204f;
            border-style:solid;
            border-width:2px;
            border-radius: 50%;
            }


            /* When the radio button is checked, add a blue background */
            .radio input:checked ~ .checkround {
            background-color: #fff;
            }

            /* Create the indicator (the dot/circle - hidden when not checked) */
            .checkround:after {
            content: "";
            position: absolute;
            display: none;
            }

            /* Show the indicator (dot/circle) when checked */
            .radio input:checked ~ .checkround:after {
            display: block;
            }

            /* Style the indicator (dot/circle) */
            .radio .checkround:after {
            left: 2px;
            top: 2px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background:#f8204f;


            }

            /* The check */
            .check {
            display: block;
            position: relative;
            padding-left: 25px;
            margin-bottom: 12px;
            padding-right: 15px;
            cursor: pointer;
            font-size: 18px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            }

            /* Hide the browser's default checkbox */
            .check input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            }

            /* Create a custom checkbox */
            .checkmark {
            position: absolute;
            top: 3px;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: #fff ;
            border-color:#f8204f;
            border-style:solid;
            border-width:2px;
            }



            /* When the checkbox is checked, add a blue background */
            .check input:checked ~ .checkmark {
            background-color: #fff  ;
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
            content: "";
            position: absolute;
            display: none;
            }

            /* Show the checkmark when checked */
            .check input:checked ~ .checkmark:after {
            display: block;
            }

            /* Style the checkmark/indicator */
            .check .checkmark:after {
            left: 5px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid ;
            border-color:#f8204f;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            }

            .cust-btn{
            margin-bottom: 10px;
            background-color: #f8204f;
            border-width: 2px;
            border-color: #f8204f;
            color: #fff;
            }
            .cust-btn:hover{

            border-color: #f8204f;
            background-color: #fff;
            color: #f8204f;
            border-radius: 20px;
            transform-style: 2s;

            }
    </style>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="/"><img src="/img/LOGO-TWCT.png" alt="logo"><h5 style="color: white;">GCG TWC</h5></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active">
                                <a href="javascript:void(0)" aria-expanded="true"><p class="glyphicon glyphicon-list-alt" style="color:white;"></p><span>GCG</span></a>
                                <ul class="collapse">
                                    <li><a href="/GCGdata/">Data GCG</a></li>
                                    <li><a href="/GCGdata/1/">Aspek 1</a></li>
                                    <li><a href="/GCGdata/2/">Aspek 2</a></li>
                                    <li><a href="/GCGdata/3/">Aspek 3</a></li>
                                    <li><a href="/GCGdata/4/">Aspek 4</a></li>
                                    <li><a href="/GCGdata/5/">Aspek 5</a></li>
                                    <li><a href="/GCGdata/6/">Aspek 6</a></li>   
                                    <li><a href="/GCGdata/7/">Aspek 7</a></li>                                                                                                                                             
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><p class="glyphicon glyphicon-user" style="color:white;"></p><span>User Management</span></a>
                                <ul class="collapse">
                                    <li><a href="/UserManagement/">Daftar User</a></li>
                                    <li><a href="/UserManagement/TambahUser/">Tambah User</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <!-- <div class="search-box pull-left">
                            <form action="#">
                                <input type="text" name="search" placeholder="Search..." required>
                                <i class="ti-search"></i>
                            </form>
                        </div> -->
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="settings-btn">
                                <i class="ti-settings"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left" style="width: 800px;">
                                <li><a href="/">Home</a></li>
                                <li><a href="/GCGData/">GCG</a></li>
                                <li><a href="/GCGData/<%=data.aspek%>/">Aspek <%=data.aspek%></a></li> 
                                <li><a href="/GCGData/<%=data.aspek%>/<%=data.indikator%>/">Indikator <%=data.indikator%></a></li>
                                <li><a href="/GCGData/<%=data.aspek%>/<%=data.indikator%>/<%=data.IDParameter%>">Parameter <%=data.IDParameter%></a></li>  
                                <li><a href="/GCGData/<%=data.aspek%>/<%=data.indikator%>/<%=data.IDParameter%>/<%=data.IndexSubParameter%>/">Sub-Parameter <%=data.IndexSubParameter%></a></li>                               
                                <li><span>Faktor <%=Index%></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown"><%=user.username%><i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/logout">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content-inner">
                <div class="row">
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <!-- <div class="d-flex justify-content-center row"> -->
                                    <div class="question bg-white p-3 border-bottom">
                                        <div class="d-flex flex-row justify-content-between align-items-center mcq">
                                            <h4><%=indikator.aspekWritten%></h4> <h4><%=indikator.indikator%></h4>
                                        </div>
                                        <div>
                                            <h4><%=parameter.pertanyaan%></h4> <h4 style="float: right;"><%=subparameter.subParameter%></h4>
                                        </div>
                                    </div>  
                                    <div class="question bg-white p-3 border-bottom">
                                        <div class="d-flex flex-row align-items-center question-title">
                                            <!-- <h3 class="text-danger">Q.</h3> -->
                                            <h3 class="mt-1 ml-2"><%=data.faktor%></h3>
                                        </div> 
                                        <form class="question bg-white p-3 border-bottom" action="/GCGData/postPenilaian" method="POST">
                                            <input type="text" id="inputID" name="inputID" value="<%=data.Index%>" hidden readonly>
                                                <input type="text" class="form-control" id="inputAspek" name="inputAspek" value="<%=data.aspek%>" hidden>
                                                <input type="text" class="form-control" id="inputIndikator" name="inputIndikator" value="<%=data.indikator%>" hidden>
                                                <input type="text" class="form-control" id="idParameter" name="idParameter" value="<%=data.IDParameter%>" hidden>
                                                <input type="text" class="form-control" id="idSubParameter" name="idSubParameter" value="<%=data.IndexSubParameter%>" hidden>
                                            <h2>Bukti Pemenuhan</h2>
                                                <label class="check">Dokumen
                                                    <input type="checkbox" name="inputPemenuhan[]" id="inputPemenuhanD" value="D">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="check">Kusioner
                                                  <input type="checkbox" name="inputPemenuhan[]" id="inputPemenuhanK" value="K">
                                                  <span class="checkmark"></span>
                                                </label>                                                
                                                <label class="check">Wawancara
                                                    <input type="checkbox" name="inputPemenuhan[]" id="inputPemenuhanW" value="W">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="check">Observasi
                                                    <input type="checkbox" name="inputPemenuhan[]" id="inputPemenuhanO" value="O">
                                                    <span class="checkmark"></span>
                                                </label>
                                              <h2>Nilai Faktor</h2>
                                              <label class="radio">0
                                                  <input type="radio" name="inputNilai" id="inputNilai" value="0">
                                                  <span class="checkround"></span>
                                                </label>
                                                <label class="radio">0.25
                                                    <input type="radio" name="inputNilai" id="inputNilai" value="0.25">
                                                    <span class="checkround"></span>
                                                  </label>                                                
                                                  <label class="radio">0.5
                                                    <input type="radio" name="inputNilai" id="inputNilai" value="0.5">
                                                    <span class="checkround"></span>
                                                  </label>
                                                  <label class="radio">0.75
                                                    <input type="radio" name="inputNilai" id="inputNilai" value="0.75">
                                                    <span class="checkround"></span>
                                                  </label>
                                                  <label class="radio">1
                                                    <input type="radio" name="inputNilai" id="inputNilai" value="1">
                                                    <span class="checkround"></span>
                                                  </label>                                             
                
                                                <div class="ans ml-2 form-group ">  
                                                    <div class="question bg-white p-3 border-bottom">
                                                        <h1>
                                                            
                                                        </h1>
                                                    </div>
                                                    <h1>
                                                        <!-- <span style="white-space: "> -->
                                                
                                                    </h1>
                                                    <% if(data.catatan != null) { %>
                                                    <div>
                                                        <h3><%-data.catatan.replace('\n', '<br>')%></h3>
                                                    </div>
                                                    <% } %>
                                                        <!-- <input type="text" class="form-control" id="inputNilai" name="inputNilai" placeholder="Nilai dari Sub-Parameter (0 - 1)">
                                                        <select class="form-select form-select-sm form-control" id="inputNilai" name="inputNilai">
                                                            <option selected disabled>Nilai Faktor</option>
                                                            <option value="0.0">0</option>
                                                            <option value="0.25">0.25</option>
                                                            <option value="0.5">0.5</option>
                                                            <option value="0.75">0.75</option>
                                                            <option value="1">1</option>
                                                    </select> -->
                                                    <div class="question bg-white p-3">
                                                        <h1></h1>
                                                    </div>
                                                    <a class="btn btn-danger" href="/GCGData/<%=data.aspek%>/<%=data.indikator%>/<%=data.IDParameter%>/<%=data.IndexSubParameter%>/" role="button" style="float: left;">Back</a> 
                                                    <button type="submit" class="btn btn-success" style="float: right;">Submit</button>
                                                    <div class="question bg-white p-3">
                                                        <h1></h1>
                                                    </div>
                                                </div> 
                
                                        </form>
                
                
                                        <!-- <div class="form-group container-fluid" style="border-radius: 25px; border: 2px solid #cecece;">
                                            <label for="exampleFormControlFile1">Bukti File</label>
                                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                          </div> -->
                
                                    </div>
                                    <!-- <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                                        <button class="btn btn-primary d-flex align-items-center btn-danger" type="button" href="/back"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button>
                                        <button class="btn btn-primary border-success align-items-center btn-success" type="button" href="/next" name="nextBtn" id="nextBtn">Next<i class="fa fa-angle-right ml-2"></i></button>
                                    </div> -->
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- header area start -->

        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- offset area start -->
    <!-- offset area end -->
    <!-- jquery latest version -->
    <script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/metisMenu.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.min.js"></script>
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <!-- start amcharts -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- all line chart activation -->
    <script src="/assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="/assets/js/pie-chart.js"></script>
    <!-- all bar chart -->
    <script src="/assets/js/bar-chart.js"></script>
    <!-- all map chart -->
    <script src="/assets/js/maps.js"></script>
    <!-- others plugins -->
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/scripts.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            // $("#inputNilai").find('option[value="<%=data.skor%>"]').attr('selected','selected')
            var FileTypes = '<%-data.buktiPemenuhan%>';
            $(function() {
                // $('[name="inputPemenuhan"]').val(['<%=data.buktiPemenuhan%>'])
                if(FileTypes.includes('D')==true){
                    $("#inputPemenuhanD").attr("checked", "checked");
                }
                if(FileTypes.includes('K')==true){
                    $("#inputPemenuhanK").attr("checked", "checked");
                }  
                if(FileTypes.includes('W')==true){
                    $("#inputPemenuhanW").attr("checked", "checked");
                }
                if(FileTypes.includes('O')==true){
                    $("#inputPemenuhanO").attr("checked", "checked");
                }                                              
                $('[name="inputNilai"]').val(['<%=data.skor%>'])

                
            });
        });
    </script>  
</body>

</html>
<!-- © 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About -->
